function Main.main 0
push constant 78
call Output.printChar 1
pop temp 0
call Output.println 0
pop temp 0
push constant 6
call String.new 1
push constant 97
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 102
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 1234
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push constant 3
call String.new 1
push constant 112
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 2
call String.new 1
push constant 98
call String.appendChar 2
push constant 97
call String.appendChar 2
call Output.printString 1
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
call Output.backSpace 0
pop temp 0
push constant 6
call String.new 1
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 109
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
