function Main.main 1
push constant 9
call String.new 1
push constant 40
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 91
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 93
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push constant 9
call String.new 1
push constant 40
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 125
call String.appendChar 2
push constant 125
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push constant 9
call String.new 1
push constant 40
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 91
call String.appendChar 2
push constant 120
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 41
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push constant 5
call String.new 1
push constant 49
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 51
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push constant 4
call String.new 1
push constant 91
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 93
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push constant 3
call String.new 1
push constant 91
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 41
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push constant 9
call String.new 1
push constant 40
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 91
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 41
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push constant 21
call String.new 1
push constant 123
call String.appendChar 2
push constant 91
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 42
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 51
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 93
call String.appendChar 2
push constant 43
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 52
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 53
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 125
call String.appendChar 2
pop local 0
push local 0
call Expr.test_checkPars 1
pop temp 0
push local 0
call String.dispose 1
pop temp 0
push constant 0
return
