function Main.main 0
push constant 300
push constant 200
push constant 100
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 100
push constant 0
push constant 300
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 100
push constant 75
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 75
push constant 50
push constant 0
push constant 150
call Screen.drawLine 4
pop temp 0
push constant 0
push constant 0
push constant 0
push constant 50
call Screen.drawLine 4
pop temp 0
push constant 10
push constant 50
push constant 10
push constant 0
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 100
push constant 500
push constant 100
call Screen.drawLine 4
pop temp 0
push constant 500
push constant 110
push constant 400
push constant 110
call Screen.drawLine 4
pop temp 0
push constant 400
push constant 200
push constant 440
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 75
push constant 200
push constant 50
call Screen.drawCircle 3
pop temp 0
push constant 450
push constant 50
push constant 25
call Screen.drawCircle 3
pop temp 0
push constant 0
return
