function Main.main 1
push constant 256
push constant 128
push constant 0
call Tetris.new 3
pop local 0
push local 0
call Tetris.loop 1
pop temp 0
push local 0
call Tetris.dispose 1
pop temp 0
push constant 0
return
